@{
    ViewBag.Title = "AboutBengaluru";
    Layout = "~/Views/Shared/_Layout_DashBoard.cshtml";
}

<h2>AboutBengaluru</h2>


<div id="page-content" style="margin: 100px 100px 100px 100px;">
    @*<img src="~/Images/bg2_1.jpg" style="width:1400px" />*@
    <img src="~/Images/t3.jpg" class="img-rounded" alt="Test" width="325" height="236">&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Images/t5.jpg" class="img-rounded" alt="Test" width="325" height="236">&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Images/t4.jpg" class="img-rounded" alt="Test" width="325" height="236">
    <br /><br />
    <h3 style="color:red; font-weight:bold">WELCOME TO NAMMA BENGALURU! </h3><br />
    <p style="text-align:left">
        ‘Namma Bengaluru’ means something like ‘Our Bengaluru/ Apna Bengaluru’.
        Bangalore, also known as Bengaluru, is the capital of the Indian State of Karnataka. Bangalore, nicknamed the Garden City is India's third most populous city. There are a number of expats from across the world living in the city, thanks to the growing presence of Multi-National Companies.
        Today as a large city and growing metropolis, Bangalore is home to many of the most well-recognised colleges and research institutions in India. Numerous public sector heavy industries, software companies, aerospace, telecommunications, and defence organizations are located in the city. Bangalore is known as the Silicon Valley of India because of its position as the nation's leading IT exporter. It is a demographically diverse city, cultural hub and the fastest growing major metropolis in India.

    </p>

    <br /><br />
    <h3 style="color:#00a2e8; font-weight:bold; text-decoration:underline">CLIMATE</h3><br />
    <p style="text-align:left">
        Situated at a height of 949 meters (3113 ft.) above the sea level, the city is blessed with salubrious climate throughout the year. Till the beginning of nineties, most of the homes in Bangalore didn't need fans. In summer while the rest of India wilted in the heat, Bangaloreans would snuggle under warm blankets at night. Rains are very frequent and the summers are warm. Winters are pretty cold. But no weather goes to its extreme. One can visit the city any time of the year and enjoy the pleasant climate.
        Bangalore is considered to be one of the coolest cities of India. About 85% of the rainfall is recorded between 4 and 7 in the evening. Hence carrying an umbrella would be a wise thing to do. Bangalore has a pleasant climate. The city has a lot of greenery with trees lined up along both sides of most of the roads. The numerous gardens and parks, streets lined with trees are very soothing in what would have been a jungle of concrete.

    </p><br /><br />
    <h3 style="color:#00a2e8; font-weight:bold; text-decoration:underline">Major IT Parks</h3><br />
    <p style="text-align:left">
        Bangalore is called the ‘Silicon Valley of India’ due to the large number of information technology companies located here. Many multinational corporations, especially computer hardware and software giants, have operations in Bangalore. Bangalore’s IT industry is divided into two main “clusters” — Electronic City and Whitefield. New clusters in Bellandur, Hebbal and Challaghatta have emerged in the last few years along the Outer and Inner Ring Roads and in C V Raman Nagar near Old Madras Road. The City is home to more than 900 IT firms.
        <br />
        Here are some of the largest and most spectacular Tech Parks in Bangalore.
    </p>
    <br />
    <h4 style="color:orange; text-align:left; font-weight:bold">Bagmane Tech Park</h4><br />

    <p style="text-align:left">
        Bagmane Tech Park is a software technological park in India. The park is situated at CV Raman Nagar in Bangalore. This park is built and maintained by Bagmane Group. The park shares its boundaries with HAL and DRDO and is near the HAL Airport. It is equipped with all modern class facilities and is surrounded by a lake near the entrance. It also contains a shopping mall, and a 4.7 hectare lake in its centre.The park is home to some of the most prominent companies in world like CommVault Systems, Netserv Technologies, Informatica, Cypress Semiconductor, Dover Corporation, HSBC, Motorola, Sapient Corporation, Yahoo!, Oracle Financial Services Software Limited, HP, Juniper Networks, Ericsson, Lenovo, Texas Instruments, LinkedIn, MphasiS, Sasken, Novell, Cognizant Technology Solutions, Ogilvy, Volvo, Dell, Tecnotree, Concur Technologies, PwC.The park consists of 10 large buildings..
    </p><br />
    <h4 style="color:orange; text-align:left; font-weight:bold">ITPL (International Tech Park)</h4><br />

    <p style="text-align:left">
        <br />
        International Tech Park (commonly called ITPL and ITPB) is a tech park located in Whitefield, Bangalore, 18 km from the city centre. It is managed by Ascendas. It includes the 450,000 square foot Park Square Mall, several sporting arenas and the Vivanta by Taj hotel. It is the oldest tech park of Bengaluru. It is located in Whitefield cluster. It was created as a result of a joint venture between India and Singapore in January 1994. It is a large facility, comprising 9 buildings—Discoverer, Innovator, Creator, Explorer, Inventor, Navigator, Voyager and Aviator plus a building belonging to TCS which is called Pioneer. The tenth building which is under construction will be called “Victor”. This park provides campus facilities for multi national giants like GE, Xerox, iGATE, IBM, Mu Sigma, Airtel, Vodafone, TCS, Unisys, Delphi, Huawei, Oracle, Perot Systems , First American (India) and other medium and small sized companies.
    </p><br />
    <h4 style="color:orange; text-align:left; font-weight:bold">Ecospace Business Park</h4><br />
    <p style="text-align:left">
        RMZ Ecospace Business Park was one of the first few large projects to come up on Sarjapur Outer Ring Road. This project was designed by DP Architects from Singapore. It was completed in 2006 and provided a Business Park ambience to the Corporate companies. It has 9 blocks with 4 Million square feet of leasable area and sits on an area of over 24 acres. Key occupants of Ecospace include Broadcom, Microland, Bosch, Harman, Freescale, Northern Operating Services, TAS Analytics, Accenture, Syniverse, Symbol, Cadence, Digital Insight & Kerry.
    </p><br />
    <h4 style="color:orange; text-align:left; font-weight:bold">Manyata Tech Park</h4><br />
    <p style="text-align:left">
        Manyata Embassy Business Park (also called Manyata Tech Park) is a software technology park in Bangalore, Karnataka India. The park is situated in Hebbal on Outer Ring Road, and has a building area of 8.8 million sq. ft. The park is spread over 424 acres (1,84,72,307 sq ft). Manyata Embassy Business Park has a workforce of around 80,000 professionals. Some of the tenant companies of the tech park are AXA Technologies Shared Services, IBM, Larsen & Toubro, Cognizant, Atlas Copco (India) Ltd., Nokia Siemens, Philips, Alcatel-Lucent, Target Corporation, Northern Trust, Nvidia, indegene and Cerner.

    </p><br />
    <h4 style="color:orange; text-align:left; font-weight:bold"> Electronic City </h4><br />
    <p style="text-align:left">
        Electronics City, usually referred to as Electronic City, is an IT hub in Anekal Taluk, Bangalore. It is one of India’s largest electronic industrial parks, spread over 332 acres (1.3 km²). It consists of three zones called phases – Phase I, Phase II and Phase III. Electronics City was established by Keonics, Karnataka Electronics, a pioneer in information technology infrastructure development. There are approximately 200 IT/ITES companies located in Electronics City. Some of the compnaies located at Electronic City include APC, Airpush, Bharat Heavy Electricals Limited, Biocon, Bosch, CGI Group, Inside Infosys, Fanuc, General Electric, Microland, Genpact, GE Fanuc Systems, HCL Technologies, Hewlett-Packard, iGate Global, Infosys Limited, Tech Mahindra, Trolex, Siemens Information Systems Limited, STPI, Tata Consultancy Services, Tata Power Solar, Tejas Networks, Timken India Limited, TUV Rheinland India Pvt Ltd, Wipro Technologies, Yokogawa, 3M India, Infotech Enterprises, Happiest Minds, OnMobile, Ninestar Motorcycles Bangalore Pvt Ltd, Anjaney Inc among others.
    </p><br />
    <h4 style="color:orange; text-align:left; font-weight:bold">Cessna Business Park</h4><br />
    <p style="text-align:left">
        The Prestige Group’s Cessna Business Park is located on Sarjapur Outer Ring Road next to the RMZ Ecospace and houses companies like Cisco.
    </p><br />
    <h4 style="color:orange; text-align:left; font-weight:bold">RMZ Infinity</h4><br />
    <p style="text-align:left">
        RMZ Infinity is located on Old Madras Road. This project was designed by DP Architects from Singapore. It was completed in 2008 and provided good quality office to Corporates in an ideal location between CBD and Whitefield. It has a beautiful oval concourse area in the center with various amenities around it. It has a total of 1.2 Million of leasable space located on a 12 acre property. Some of the companies located in RMZ Infinity include Google, Synopsys, Thomson Reuters, State Street, LM Wind Power, Cassidian, British Telecom, GE, Etisalat, Avnet, AXA, Analog Devices, E&Y and Boeing.
    </p><br />
    <h4 style="color:orange; text-align:left; font-weight:bold"> Embassy Golflinks</h4><br />
    <p style="text-align:left">
        Embassy GolfLinks Business Park(or EGL) is a software centric commercial park in Bangalore, Karnataka, India. It spreads across 65 acres is located off the Inner Ring Road. Embassy GolfLinks is the flagship project of the Embassy Group, or Embassy Property Developments Private Limited. The EGL office complex has 21 office buildings and two retail blocks. It also houses Hilton Bangalore Embassy GolfLinks. The Embassy GolfLinks Business Park houses some of the top blue chip companies of the world and cater to a 45,000 strong workforce. Some of the tenants are Yahoo, Tata Consultancy Services, PWC, NetApp India among others
    </p>

    <br /><br />
    <h3 style="color:#00a2e8; font-weight:bold; text-decoration:underline">Bus Station</h3><br />

    <p style="text-align:left">
        Majestic Bus Station, also known as Kempegowda Bus Station, is a large bus station in central Bangalore. It is located opposite to the Bangalore City Railway Station.  This bus station provides connectivity to almost all the areas of Bangalore.

    </p><br /><br />

    <h3 style="color:#00a2e8; font-weight:bold; text-decoration:underline">Railway Station</h3><br />

    <p style="text-align:left">
        It is located across the Kempegowda Bus Station. The station has 10 platforms and two entrances.The station handles 88 trains a day, including 63 express trains, and is used by 220,000 commuters every day.

    </p><br /><br />

    <h3 style="color:#00a2e8; font-weight:bold; text-decoration:underline">Airport</h3><br />

    <p style="text-align:left">
        Kempegowda International Airport is an international airport, located about 40 kilometres north of the city. It is the one of the busiest airports in the country, handling roughly 18 million passengers with 400 aircraft movements per day.
    </p><br /><br />



    <br /><br />
    We wish you have a good time during your stay!!! and wish you a lovely day today !




</div>
<script>
    // alert(1);
    $("#myDashboardli").removeClass("current");
    $("#abtBangaloreli").addClass("current");

</script>

