@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResponseHandler</title>
    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
    <script>
        $(document).ready(function () {
            //alert(1);
            //alert($('#Hidden1').val());
            //alert($('#Hidden2').val());
            //alert($('#Hidden3').val());
        });
       

    </script>
</head>
<body>
    <div>
        @*<input type="hidden" name="access_code" id="Hidden1" value="@ViewBag.segment" />
        <input type="hidden" name="access_code" id="Hidden2" value="@ViewBag.segmentTest" />
        <input type="hidden" name="access_code" id="Hidden3" value="@ViewBag.PaymentStatus" />*@

    </div>
</body>
</html>
